.main-logo
{
  scale: 0.5;
  mix-blend-mode: darken;
}
.body-content
{
  display: grid;
  justify-content: center;
  align-items: center;
}
.main-lable
{
  color: #fffcfc;
  margin-top: -20%;
  text-align: center;
}
body
{
  background: linear-gradient(45deg, rgba(180,254,184,1) 0%, rgba(251,217,144,1) 100%);
}
.navbar
{
  display: grid;
  width: 150px;
  height: 100%;
}
.navbar > .container
{
  position: fixed;
  display: grid;
  flex-wrap: wrap;
  width: 150px;
}
.f
{
  position: absolute;
  bottom: -35px;
  margin-top: 8%;
  margin-left: -6px;
}
.f2
{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  margin-left: -5px;
  bottom: -90px;
}
.navbar form > button.logout
{
  color: rgba(255,255,255,0.5);
  text-align: left;
}
.navbar form > button.logout:hover {
  color: rgba(255,255,255,0.7);
}
main > .container
{
  padding: 20px 15px 10px;
}
.nav-logo
{
  margin-left: 10px;
  width: 100px;
}
.pagination
{
  border: 1px rgba(0, 0, 0, 0.1) solid;
  display: flex;
  margin-top: -17px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.pagination a
{
  color: #4848a3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  text-decoration: none;
}
.pagination li
{
  margin:2px ;
  color: #4848a3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  border: 2px solid #4848a3;
  text-decoration: none;
  transition: 0.5s;
}
.pagination li:hover
{
  background-color: #5a5a9e;
  border: 2px solid #4848a3;
}
.pagination a:hover
{
  color: white;
}
.prev
{
  border-radius: 10px 0px 0px 10px ;
}
.disabled
{
  color: black !important;
}
.next
{
  border-radius: 0px 10px 10px 0px ;
}
.active a
{
  color: white;
  background-color:#4848a3 ;
}
